# Assignment 1 - DATA.ML.360

In [65]:
%pip install pandas

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in ./a1_venv/lib/python3.9/site-packages (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./a1_venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./a1_venv/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy<2,>=1.22.4 in ./a1_venv/lib/python3.9/site-packages (from pandas) (1.26.1)
Requirement already satisfied: tzdata>=2022.1 in ./a1_venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./a1_venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Users/laurira/uni/recsys/assignment1/a1_venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

### Part A: Understanding the dataset

MovieLens 100K dataset downloaded from https://grouplens.org/datasets/movielens/100k/

Frist we download the dataset and check what it looks like to get a general understanding.

In [66]:
# Read the data file and see how it looks like
df = pd.read_csv('u.data', sep='\t', header=None)
df.head()

     0    1  2          3
0  196  242  3  881250949
1  186  302  3  891717742
2   22  377  1  878887116
3  244   51  2  880606923
4  166  346  1  886397596

In [67]:
# Add column names and check few rows of the dataset
df.columns = ["user_id", "item_id", "rating", "timestamp"]
df = df.drop("timestamp", axis=1)
df.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

In [68]:
# Make sure there are 100k rows in the dataset
rows = len(df)
print("Total rows in the dataset: " + str(rows))

Total rows in the dataset: 100000

### Part B: User-Based Collaborative Filtering

Next we implement the user-based collaborative filtering using the Pearson correlation

In [82]:
# Create a matrix from the ratings. Each row represents an user and each column an item/movie.
rating_matrix = df.pivot(index='user_id', columns='item_id', values='rating').fillna(0)

# Make sure that the matrix looks correct
rating_matrix.head()

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
# Calculate the Pearson correlation between two users ratings
def pearson_correlation(user1_id, user2_id):
    # Get two users rating data for comparison
    user1_data = rating_matrix[rating_matrix.index == user1_id]
    user2_data = rating_matrix[rating_matrix.index == user2_id]

    # Compute the Pearson correlation between the ratings of the two users
    pearson_correlation = np.corrcoef(user1_data, user2_data)[0][1]

    # Check the result 
    return pearson_correlation

# Check the result
corr = pearson_correlation(244, 327)
print(corr)

0.32376261919930993